body {
    font-family: "Manrope", sans-serif;
    overflow: auto;
}

.note-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    margin: auto;
}

.option {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;

    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 10;

}

.back-btn {
    color: gray;
}

.back-btn:hover {
    color: black;
}

.page-content {
    margin-top: 10px;
}

#note-title {
    outline: none;
}

#note-para {
    outline: none;
    white-space: pre-wrap;
    line-height: 1.5rem;
}

p[contenteditable="true"]:empty:before {
    content: attr(data-placeholder);
    color: gray;
}

#timer {
    padding: 10px;
}

#timer:hover {

    cursor: pointer;
}