body {
    font-family: "Manrope", sans-serif;
    overflow: hidden;
}

.note-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    margin: auto;
}

.option {
    margin-top: 10px;
}

.page-content {
    margin-top: 10px;
}

#note-title {
    outline: none;
}

#note-para {
    outline: none;
    white-space: pre-wrap;
    line-height: 1.2rem;
}

p[contenteditable="true"]:empty:before {
    content: attr(data-placeholder);
    color: gray;
}