body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.new-page {
    margin-top: 20px;

}

.new-page input {
    border: none;
    font-size: 24px;
}

#add-page-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 24px;
}

.all-pages {
    margin-top: 20px;
}